/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

$codeFont : 'Montserrat',
sans-serif;
$logo-clr: #7d170f;
$body-bg: #f5f5f5;
$body-bg-darker: #e6e6e6;
$par-clr: #2E2E2F;
$sub-clr: #5a5d60;
$box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.7;
    background-color: $body-bg;
    color: $par-clr;
    font-family: $codeFont;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* General rules */

/* Nav */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close,
.btn-close:focus,
.btn-close:active,
.btn-close-icon:focus {
    box-shadow: none;
    outline: none;
    border: 0;
}

nav {
    transition: background 250ms ease-in;
}

/* Nav links */
.navbar-nav {
    gap: 0.6em;
    font-size: 1.25rem;

    .nav-link {
        color: $par-clr;

        &::after {
            content: "";
            background-color: $logo-clr;
            height: 2px;
            display: block;
            width: 0%;
            transform: scaleX(0);
            transition: transform .5s ease 0s;
        }

        &:hover::after,
        &:focus-visible::after {
            width: 100%;
            transform: scaleX(1);
        }

        &.active {
            color: $par-clr;
        }
    }

    .active::after {
        content: "";
        background-color: $logo-clr;
        height: 2px;
        display: block;
        width: 100%;
        transform: none;
    }
}

/* Navbar change on scroll */
.nav-scrolled {
    background-color: $body-bg;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);

    .navbar-nav .nav-link {
        color: $par-clr;

        &.active {
            color: $par-clr;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(46, 46, 47 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(245, 245, 245 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    margin-right: -.8rem;
}

/* Offcanvas */
.offcanvas {
    background-color: $body-bg;

    .btn-close {
        margin-bottom: -.7rem;
        font-size: 1.1rem;
    }
}

/* Main */
.font-1 {
    font-size: 2.5em;
    letter-spacing: -1.1px;
}

/* Hero section */
.hero-section {
    background-image: url(../img/hero.jpg);
    padding-top: 5rem;
    padding-bottom: 5rem;
    z-index: 2;

    .container {
        color: $body-bg;
    }

    h1 {
        font-size: 0.90625rem;
        line-height: 2.5;
        letter-spacing: 5px;
    }

    .overlay {
        left: 0;
        background: linear-gradient(rgb(0 0 0 / 81%), rgb(0 0 0 / 80%));
        z-index: -1;
    }
}

.bg-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Animation */
.hero-animation {
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: -.8px;
}

.wrapper span {
    color: $logo-clr;
}

.hero-social-links {
    margin-top: 2rem;

    a {
        color: $body-bg;

        &:hover {
            color: $body-bg;
            border: 1px solid $body-bg;
        }
    }
}

/* Mouse Animation */
.middle {
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse {
    width: 29px;
    height: 48px;
    border: 2.5px solid #f5f5f5;
    border-radius: 60px;
    animation: bounce 2s infinite;

    &::before {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
        top: 10px;
        background: $body-bg;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        opacity: 1;
        animation: mouse 2s infinite;
    }
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 25px;
    }
}

/* Bounce Animation */
@keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.sub-clr {
    color: $sub-clr;
}

/* About Section */
.line {
    width: 3.2rem;
    height: 4px;
    background-color: $logo-clr;
    margin: -6px auto;
    border-radius: 1.875rem;
}

.section-padding {
    padding-top: 5.2rem;
}

.portfolio-pic {
    width: 91%;

    img {
        background-color: $body-bg-darker;
        box-shadow: -1px 2px 7px 2px rgb(0 0 0 / 22%);
    }
}

.par-name {
    font-size: 1.75rem;
    letter-spacing: -1px;
    padding-top: 2.2rem;
}

.sub {
    letter-spacing: 2.5px;
    font-size: 0.875rem;
    margin-top: -6px;
}

.section-txt {
    text-align: justify;
    line-height: 1.75;
    font-size: 1.03125rem;
}

/* Progress bar */
.pr-bar {

    h3 {
        font-size: 1rem;
    }

    .progress {
        height: 0.8rem;
        box-shadow: inset 0 0 5px #b3b3b3;
        border-radius: 1.25rem;
        margin-bottom: 1.28rem;
    }

    .progress-bar {
        background-color: $logo-clr;
        border-radius: 1.25rem;

        &.active {
            animation: animate-positive 2s ease-out 600ms forwards;
        }
    }

    .progress-value {
        font-size: 0.9375rem;
        color: $par-clr;
    }
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

.btn-prj {
    background-color: $logo-clr;
    box-shadow: 0 4px 9px -4px #a92419;
    padding: 10px 24px;
    font-size: 0.7875rem;
    border-radius: 3.125rem;
    color: $body-bg;

    &:hover,
    &:first-child:active,
    &:focus-visible {
        background-color: $logo-clr;
        transition: .3s ease;
        transform: scale(.98);
        box-shadow: 0 8px 9px -4px rgb(169 36 25 / 30%),
            0 4px 18px 0 rgb(169 36 25 / 20%);
        color: $body-bg;
    }
    
    &:focus-visible {
        outline: 3px solid $par-clr;
        outline-offset: 2px;
    }
}

/* Services Section */
.gutter {
    --bs-gutter-y: 2.05rem;
}

#services,
#contact {
    background-color: $body-bg-darker;
}

.service {
    box-shadow: 0 0 16px 1px rgb(0 0 0 / 8%), 0px 3px 5px rgb(0 0 0 / 15%);
    background-color: $body-bg;
    transition: all 0.3s ease;

    &:hover {
        border-bottom: 3px solid $logo-clr;
        transform: scale(1.03);
    }

    i {
        color: $logo-clr;
        font-size: 2.38rem;
        padding: 1.8rem;
    }

    h3 {
        font-size: 1.247rem;
        letter-spacing: -.7px;
    }

    p {
        padding: 0.4rem 1.25rem 1.5rem 1.25rem;
        font-size: 1.03125rem;
    }
}

/* Projects */
.portfolio-flters {
    border-radius: 50px;
    padding: 2px 15px;

    li {
        cursor: pointer;
        display: inline-block;
        padding: 8px 16px;
        font-weight: 600;
        font-size: 0.96875rem;
        line-height: 1;
        color: $body-bg;
        background: $par-clr;
        margin: 0 3px 10px 3px;
        transition: all 0.3s ease-in-out;
        border-radius: 2rem;

        &:hover,
        &.filter-active {
            background: $logo-clr;
        }
    }
}

.project-wrap {
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0 0 16px 1px rgb(0 0 0 / 8%), 0px 3px 5px rgb(0 0 0 / 15%);

    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.92);
        position: absolute;
        left: 30px;
        right: 30px;
        top: 30px;
        bottom: 30px;
        transition: all ease-in-out 0.3s;
        z-index: 2;
        opacity: 0;
    }

    &:hover::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }
}

.light::before {
    background: rgba(0, 0, 0, 0.68) !important;
}

.portfolio-info {
    left: 0;
    right: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;

    &::before {
        display: block;
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        top: 35px;
        left: 35px;
        border-top: 3px solid $body-bg;
        border-left: 3px solid $body-bg;
        transition: all 0.5s ease 0s;
        z-index: 9994;
    }

    &::after {
        display: block;
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 35px;
        right: 35px;
        border-bottom: 3px solid $body-bg;
        border-right: 3px solid $body-bg;
        transition: all 0.5s ease 0s;
        z-index: 9994;
    }

    p {
        color: $body-bg;
        font-size: 0.8125rem;
        margin: 0;
        margin-bottom: 9px;
    }

    h4 {
        font-size: 1.21875rem;
        letter-spacing: -.4px;
        color: $body-bg;
    }
}

.project-links {
    z-index: 4;

    a {
        color: $body-bg;
        margin: 0 -4px;
        font-size: 19.5px;
        display: inline-block;
        transition: 0.3s;

        &:hover {
            color: $logo-clr;
        }
        
        &:focus-visible {
            outline: 2px solid $body-bg;
            border-radius: 100%;
            color: $logo-clr;
            outline-offset: 0.1px;
        }
    }
}

.project-wrap:hover .portfolio-info {
    opacity: 1 !important;
}

.project-wrap:hover .portfolio-info::before {
    top: 12px !important;
    left: 15px;
}

.project-wrap:hover .portfolio-info::after {
    bottom: 12px !important;
    right: 15px;
}

.modal {
    --bs-modal-bg: #0a0d14;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);

    &-content {
        max-width: 380px;
        border-color: #0C121E;
        box-shadow: 0px 0px 5px 0px #0c121e;

        .modal-body {
            padding: 1.25rem;
            margin-bottom: 1rem;

            h3 {
                letter-spacing: -0.3px;
                font-size: 1.3rem;
                color: $body-bg-darker;
            }

            p {
                color: #a1a1a1;
            }

            .demo {
                color: $body-bg;
            }

            .demo:hover .button-icon {
                transform: translateX(.25rem);
            }
        }
        
        .btn-close:focus-visible {
            outline: 3px solid  $body-bg-darker;
            border-radius: 25px;
            outline-offset: 2px;
        }
    }
}

/* Contact section */
.form-control {
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 8%);
    transition: all .2s linear;

    &:focus {
        border-color: #2e2e2f40;
        box-shadow: inset 0 0 0 0.1rem #2e2e2f40;
    }
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none;
    border-width: 2px;
    transition: all .2s linear;
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none;
}

.was-validated .form-control:valid {
    border-color: #076e07;
}

.was-validated :invalid~.invalid-feedback {
    display: flex;
}

.invalid-feedback {
    color: #c11313;
    animation: shake 0.65s;
}

/* Invalid Icon */
svg.bi.bi-exclamation-circle {
    margin-right: 7px;
}

/* Form Animation */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(-2%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(2%);
    }
}

#messageSuccess {
    display: none;
    color: #076e07;
    font-size: 17px;
    margin-top: -8px;
    margin-bottom: 26px;
    padding: 0 5px;
}

/* Footer */
#footer {
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
}

.btn-floating {
    width: 2.8125rem;
    height: 2.8125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    vertical-align: middle;
    border-radius: 100%;
    color: $par-clr;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: rgba(0, 0, 0, 0.06);
        color: $par-clr;
    }
}

.m-l {
    margin-left: -5px;
}

.fw-500 {
    font-weight: 500;
}

/* Icons */
.hero-section i,
.footer i {
    font-size: 1.375rem;
}

/* Scroll to top button */
.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 33px;
    width: 37px;
    height: 37px;
    background-color: $par-clr;
    box-shadow: 0 2px 3px 0 rgb(60 64 67 / 30%), 0 6px 10px 4px rgb(60 64 67 / 15%);
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease, transform .3s;
    
    &:focus-visible {
        outline: 3px solid $par-clr;
        border-radius: 100%;
        outline-offset: 2px;
    }

    &:hover {
        transform: translateY(-.25rem);
    }

    a {
        color: $body-bg;
    }

    &.active {
        right: 10px;
        pointer-events: all;
        opacity: 1;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1.12em;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $logo-clr;
    border: .18em solid rgb(230, 230, 230);
    border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(109, 20, 14);
}

/* Media queries */
@media all and (min-width: 576px) {

    /* Nav */
    .navbar-brand img {
        width: 35px;
    }

    /* Offcanvas */
    .offcanvas .btn-close {
        margin-right: .7rem !important;
    }

    /* Main */
    .hero-animation,
    .font-1 {
        font-size: 2.8rem;
    }

    .font-1 {
        letter-spacing: -1.6px;
    }

    .hero-social-links {
        margin-top: 2.2rem;
    }

    /* About Section */
    .line {
        width: 3.58rem;
    }

    .par-name {
        font-size: 1.98rem;
        letter-spacing: -1.3px;
    }

    .sub {
        font-size: 0.90625rem;
    }

    /* Projects */
    .modal-content {
        max-width: 400px;
    }

    /* Footer */
    .btn-floating {
        width: 3rem;
        height: 3rem;
    }

    /* Icons */
    .hero-section i,
    .footer i {
        font-size: 1.5rem;
    }

    .copy {
        font-size: .885rem;
    }

    /* Scroll to top button */
    .scrollToTop-btn {
        bottom: 20px;
    }
}

@media all and (max-width: 767.98px) {

    .about,
    .contact {
        max-width: 410px;
    }

    .section-txt,
    .pr-bar,
    .project-wrap,
    .contact-form {
        width: 92.3%;
    }

    /* Services */
    .service {
        max-width: 290px;

        p {
            line-height: 1.6;
        }
    }

    /* Projects */
    .projects {
        max-width: 400px;

        .project-wrap {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media all and (min-width: 768px) {

    /* Nav */
    .navbar-nav {
        gap: 1.125em;
        font-size: 1.03rem;

        .nav-link {
            color: $body-bg;

            &.active {
                color: $body-bg;
            }
        }
    }

    /* Main */
    .font-1 {
        font-size: 2.875rem;
    }

    /* Hero Section */
    .hero-section h1 {
        line-height: 2.8;
    }

    .hero-txt {
        margin-top: 6.5rem;
    }

    .hero-animation {
        font-size: 3rem;
    }

    .hero-social-links {
        margin-top: 1.28rem;
    }

    /* About Section */
    .line {
        width: 4.3rem;
    }

    .portfolio-pic {
        width: 100%;
    }

    .sub {
        margin-top: -9.5px;
    }

    .section-txt {
        width: 100%;
    }

    .section-title {
        padding-bottom: 4.1rem !important;
    }

    .pr-bar {
        margin-top: 2rem;
    }

    /* Projects */
    .projects {
        max-width: 720px;
    }

    .fs-136 {
        font-size: 1.36rem !important;
    }

    /* Form */
    .btn-form {
        margin-bottom: 2rem !important;
    }

    /* Scroll to top button */
    .scrollToTop-btn {
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
    }
}

@media all and (min-width: 768px) and (max-width: 991.98px) {

    /* Main */

    /* Services */
    .services {
        max-width: 750px;
    }

    .service i {
        font-size: 1.93rem;
        padding: 1.4rem;
    }

    .service h3 {
        font-size: 1.1rem;
    }

    .service p {
        font-size: 0.98rem;
        padding: 0.4rem 1.25rem 1rem 1.25rem;
        line-height: 1.53;
    }

    /* Projects*/
    .mq h4 {
        font-size: 1.125rem;
    }

    .mq::before {
        width: 38px;
        height: 38px;
    }

    .mq::after {
        width: 38px;
        height: 38px;
    }

    .project-wrap:hover .mq::before {
        left: 8.5px;
        top: 10px !important;
    }

    .project-wrap:hover .mq::after {
        right: 8.5px;
        bottom: 10px !important;
    }

    /* Contact*/
    .contact {
        max-width: 420px;
    }
}

@media all and (min-width: 992px) {

    /* Main */
    .about,
    .projects {
        --bs-gutter-x: 3.5rem !important;
    }

    /* Title */
    .font-1 {
        font-size: 3.32rem;
    }

    .par-txt {
        max-width: 400px;
        margin-top: -1.8rem !important;
    }

    /* Hero section */
    .hero-section h1 {
        font-size: 0.9375rem;
        line-height: 3;
    }

    .hero-txt {
        margin-top: 6rem;
    }

    .hero-animation {
        font-size: 3.5rem;
    }

    /* About Section */
    .line {
        width: 4.8rem;
    }

    .section-padding {
        padding-top: 5.5rem;
        padding-bottom: 4rem !important;
    }

    /* Services */
    .services,
    .contact {
        max-width: 900px;
    }

    .service p {
        padding: 0.4rem 1.25rem 1.7rem 1.25rem;
    }

    /* Projects */
    .projects {
        max-width: 840px;
    }

    .project-wrap:hover .mq::before {
        left: 10px;
    }

    .project-wrap:hover .mq::after {
        right: 10px;
    }

    /* Form */
    .form-control {
        padding: .375rem .90rem;
    }

    /* Footer */
    .m-l {
        margin-left: -7px;
    }

    /* Icons */
    .hero-section i,
    .footer i {
        font-size: 1.5625rem;
    }

    .copy {
        font-size: .9rem;
    }

    /* Scroll to top button */
    .scrollToTop-btn.active {
        right: 5px;
    }
}

@media all and (min-width: 1200px) {

    /* Hero Section */
    .hero-social-links {
        margin-top: 2rem;
    }

    /* About Section */
    .portfolio-pic {
        width: 90%;
    }

    .par-name {
        font-size: 2.03rem;
    }

    /* Service */
    .services,
    .contact {
        max-width: 960px;
    }

    .service i {
        font-size: 2.43rem;
        padding: 1.6rem;
    }

    .service p {
        line-height: 1.7;
    }

    /* Footer */
    .social-container {
        margin-right: -6px !important;
    }

    /* Scroll to top button */
    .scrollToTop-btn {
        width: 43px;
        height: 43px;
    }

    .scrollToTop-btn.active {
        right: 15px;
    }
}
